<!DOCTYPE html>
<html>
    <head>
        <title>All Books</title>
    </head>
    <body>
        <h1>All Books</h1>
        <ul>
        {% for book in books %}
            <li>
                <p><a href="{% url 'book_detail' book.id %}">{{book.title}}</a> by {{book.author}}</p>
                <p>Rs. {{book.price}}</p>
            </li>
            {% empty %}
            <li><p>No books available.</p></li>
        {% endfor %}
    </ul>
        <p><a href="{% url 'create_book' %}">Create a new book</a></p>
        <p><a href="{% url 'home_page' %}">Back to Home</a></p>
        
    </body>
</html>